assets/styles/style.css
assets/styles/style.css.map

assets/styles/about.css 
assets/styles/about.css.map

assets/styles/style-about.css 
assets/styles/style-about.css.map

assets/styles/style-certificates.css 
assets/styles/style-certificates.css.map

assets/styles/style-contacts.css 
assets/styles/style-contacts.css.map

assets/styles/style-courses.css 
assets/styles/style-courses.css.map

assets/styles/style-gallery.css 
assets/styles/style-gallery.css.map

assets/styles/style-price.css 
assets/styles/style-price.css.map

assets/styles/style-rules.css 
assets/styles/style-rules.css.map

assets/styles/style-schedule.css 
assets/styles/style-schedule.css.map

assets/styles/style-teachers.css 
assets/styles/style-teachers.css.map