assets/styles/style.css
assets/styles/style.css.map

assets/styles/about.css 
assets/styles/about.css.map

assets/styles/certificates.css 
assets/styles/certificates.css.map

assets/styles/contacts.css 
assets/styles/contacts.css.map

assets/styles/courses.css 
assets/styles/courses.css.map

assets/styles/gallery.css 
assets/styles/gallery.css.map

assets/styles/price.css 
assets/styles/price.css.map

assets/styles/rules.css 
assets/styles/rules.css.map

assets/styles/schedule.css 
assets/styles/schedule.css.map

assets/styles/teachers.css 
assets/styles/teachers.css.map