@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dmsans-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dmsans-medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dmsans-bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dmsans-italic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url(../fonts/dmsans-mediumItalic.woff2);
  font-weight: 500;
  font-style: italic;
}
