// ================ОБЩИЕ СТИЛИ=================//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: 62.5%; //10px
}

body {
  height: 100%;
  
  background: linear-gradient(251deg, rgba(56,10,77,1) 74%, rgba(103,44,108,1) 97%, rgba(129,34,136,1) 100%);

  font-family: "Poiret One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $white;
}

a {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

//==================Заголовки====================//
.page-title {
  margin: auto;
  margin-top: 16px;
  font-size: 6em;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: -2.56px;
  color: $yellow;

  @media screen and (max-width: 1024px) {
    line-height: 70px;
  }

  @media screen and (max-width: 768px) {
    font-size: 5.4em;
    line-height: 64px;
  }

  @media screen and (max-width: 375px) {
    font-size: 4em;
    line-height: 44px;
  }
}

.title {
  font-size: 4.6em;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.92px;

  @media screen and (max-width: 768px) {
    font-size: 4em;
    line-height: 44px;
  }

  @media screen and (max-width: 375px) {
    font-size: 2.4em;
    line-height: 28px;
  }
}

.subtitle {
  font-size: 3.6em;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -1.6px;

  @media screen and (max-width: 768px) {
    font-size: 2.8em;
    line-height: 32px;
  }

  @media screen and (max-width: 375px) {
    font-size: 2.4em;
    line-height: 28px;
  }
}
//================Конец Заголовки==================//

//===================Навигация=====================//
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 18px;

  list-style: none;

  .nav-items__link {
    font-size: 1.5em;
  }
}
//===============Конец Навигация==================//

//====================Логотип=====================//
.logo__icon  {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  width: 224px;
  height: 208px;
}
//==================Конец Логотип==================//

//================КОНЕЦ ОБЩИЕ СТИЛИ================//

//Шаблон для ограничения контента, добавлять к стилям командой @extend %container;
%container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 32px;

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}
