// "  sass --watch assets/sass/index.scss assets/styles/style.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым

//========Цвета========//

$yellow: #ffdc12;
$yellow-dark: #E4B548;
$deepPurple: #380a4d;
$purple: #381048;
$white: #fff;
$pink:#ad10d3;
$grey:#ffffff66;
$pale-purple:#9000d2;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
