// "  sass --watch assets/sass/index.scss assets/styles/style.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым
.footer__div { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 150px;
  font-family: "Poiret One", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: $white;
  padding: 20px;
}
.footer__logo {
  max-width: 130px;

}
.footer__adress {
  font-size: 2.3rem;
  color: $yellow;
}
.footer__insta {
  padding: 10px;
}

.footer__insta:hover {
  color: beige;
}
.footer__insta:hover {
  transform: rotate(20deg);
}

.footer__facebook:hover {
  transform: rotate(20deg);
}
.header__logo {
  max-width: 228px;
}

.navbar {
  background-color: #380a4d;
}

.nav-item {
  background-color: $yellow-dark;
  font-family: "Poiret One", sans-serif;
  font-size: 19px;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  }
  .nav-item:hover {
  color: $yellow-dark;
  background-color: $pink;
  }

  .container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
