// "  sass --watch assets/sass/gallery.scss assets/styles/style-gallery.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым

.section-gallery {
    @extend %container;
    margin-top: 32px;
}
.section-gallery__title{
    margin: auto;
    font-size: 4.6em;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 768px) {
        font-size: 4em;
        line-height: 44px;
    }
    
    @media screen and (max-width: 376px) {
        font-size: 2.4em;
        line-height: 28px;
    }
}
.section-gallery__paragraph{
    font-size: 2em;
    font-weight: 400;
    line-height: 44px;
    color: $yellow;
    text-align: center;
    padding-top: 25vh;
    height: 50vh;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
        font-size: 1.8em;
        line-height: 32px;
    }
    
    @media screen and (max-width: 376px) {
        font-size: 1.4em;
        line-height: 28px;
    }

}

.footer__div { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    max-height: 150px;
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $white;
    padding: 20px;
    @media screen and (max-width: 768px) {
    padding: 0;
    flex-direction: column;
} 

}
.footer__logo {
max-width: 130px;

}
.footer__adress {
font-size: 2.5rem;
color: $yellow;
}
.footer__contact {
padding: 10px;
max-width: 50px;
}

.footer__contact:hover {
color: beige;
}
.footer__contact:hover {
transform: rotate(20deg);
}

.header__div {
max-width: 100%;
@media screen and (max-width: 987px) {
    display: flex;
    max-width: 90%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
} 
}
.header__logo {
max-width: 228px;
}

.navbar {
background-color: #380a4d;
padding-left: 70px;
max-width: 100%;
@media screen and (max-width: 768px) {
    padding: 0;
    background-color: none;
} 
}

.nav-item {
display: flex;
justify-content: center;
align-items: center;
background-color: $yellow-dark;
font-family: "Poiret One", sans-serif;
font-size: 19px;
padding: 5px;
margin: 5px;
border-radius: 5px;
width: 125px;
}
.nav-item:hover {
color: $yellow-dark;
background-color: $pink;
}

.container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 987px) {
    max-width: 50%;
    } 
}

.container {
    @media screen and (max-width: 987px) {
    padding-left: 0;
    margin-left: 0;
    margin-top: 50px;
    }
}
.navbar-toggler-icon{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    @media screen and (max-width: 987px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none !important;
}
}
.navbar-toggler-icon::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    height: 3px;
    width: 90%;
    background: $yellow-dark;
}
.navbar-toggler-icon::after{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 3px;
    height: 3px;
    width: 90%;
    background: $yellow-dark;
}
.navbar-toggler-icon span{
    height: 3px;
    width: 90%;
    background: $yellow-dark;
}
