.header__container {
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 991px) {
  .header__navbar {
    right: auto !important;
    left: 65px !important;
  }
}
@media screen and (min-width: 992px) {
  .header__wrapper-nav {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .header__wrap {
    padding-left: 0 !important;
  }
  .header__ul {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.wrapper {
  max-width: 100%;
}
.navbar-brand__logo {
  max-width: 228px;
  @media screen and (max-width: 768px) {
    max-width: 180px;
  }
}

.navbar {
  padding-left: 100px;
  max-width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
  @media screen and (max-width: 768px) {
    padding: 0;
    background-color: transparent;
  }
}

  .collapse {
    position: static;
    @media screen and (max-width: 980px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

.navbar-nav {
  max-width: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $yellow-dark;
  font-family: "Poiret One", sans-serif;
  font-size: 19px;
  padding: 2px;
  margin: 3px;
  border-radius: 5px;
  width: 125px;
  @media screen and (max-width: 1180px) and (min-width: 980px) {
    max-width: fit-content;
    padding: 5px;
    margin-left: 0;
  }
}
.nav-item:hover {
  color: $yellow-dark;
  background-color: $pink;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 987px) {
    justify-content: flex-end;
    max-width: 100%;
    margin-top: 50px;
  }
}

.container {
  @media screen and (max-width: 987px) {
    padding-left: 0;
    margin-left: 0;
    margin-top: 50px;
    position: absolute;
    top: 0;
  }
}
.navbar-toggler-icon {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  @media screen and (max-width: 987px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: transparent !important;
  }
}

.navbar-toggler-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  height: 3px;
  width: 90%;
  background: $yellow-dark;
}
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 3px;
  height: 3px;
  width: 90%;
  background: $yellow-dark;
}
.navbar-toggler-icon span {
  height: 3px;
  width: 90%;
  background: $yellow-dark;
}
