.section-link {
  @extend %container;

    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .section-link__title {
      color: $deepPurple;
    }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    margin: 0 2px;
    font-size: 1.7em;
    font-family: "Poiret One", sans-serif;
    transition: .3s ease-in-out;
  }

    .section-link__fi, 
    .section-link__ru, 
    .section-link__en {
      color: $white;
      border: 2px solid transparent;
      text-transform: uppercase;
    }

    .section-link__fi:hover, 
    .section-link__ru:hover, 
    .section-link__en:hover {
      color: $yellow;
      border: 2px solid $yellow;
    }

    @media screen and (max-width: 425px) {
      font-size: 1.2em;
    }
}