// "  sass --watch assets/sass/price.scss assets/styles/style-price.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым


.section-price {
  @extend %container;

  .section-price__h1 {
    grid-column: 2;
    font-size: 6em;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
    display: table;
    margin: 20px auto;
    padding: 20px;
  }

  .section-price__info {
    display: flex;
    gap: 25px;
    margin: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }

  .section-price__button {
    display: flex;
    justify-content: center;
  }

  .section-price__base,
  .section-price__group,
  .section-price__single {
    @media screen and (max-width: 1024px) {
      max-width: 510px;
    }

    @media screen and (max-width: 425px) {
      max-width: 377px;
      width: 100%;
    }

    @media screen and (max-width: 375px) {
      max-width: 327px;
      width: 100%;
    }

    @media screen and (max-width: 320px) {
      max-width: 272px;
      width: 100%;
    }

    @media screen and (max-width: 375px) {
      max-width: 327px;
      width: 100%;
    }
  }
}
