// "  sass --watch assets/sass/price.scss assets/styles/style-price.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым

.section-price {
  @extend %container;

  .section-price__h1 {
    grid-column: 2;
    font-size: 4.6em;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    padding: 40px 10px 30px 10px;

    @media screen and (max-width: 768px) {
      font-size: 4em;
    }

    @media screen and (max-width: 375px) {
      font-size: 2.4em;
    }
  }

  .section-price__info {
    display: flex;
    gap: 25px;
    margin: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }

  .section-price__button {
    display: flex;
    justify-content: center;
  }

  .section-price__base-title {
    display: flex;
    text-transform: none;
    justify-content: center;
    margin-bottom: 20px;
  }

  @media (max-width: 794px) and (min-width: 565px) {
    .section-price__button-btn {
      font-size: 2em;
    }
  }

  @media (max-width: 566px) {
    .section-price__button-btn {
      font-size: 1.3em;
      max-width: min-content;
      height: auto;
      padding: 10px;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 400px) {
  .section-price {
    padding: 10px 10px;
    min-width: 280px;
  }
}

@media screen and (max-width: 375px) {
  .subtitle {
    font-size: 2em;
    line-height: 28px;
  }
}

@media screen and (max-width: 375px) {
  .section-price__h1 {
    font-size: 3em;
  }
}
