.section-schedule {
  @extend %container;

  .section-schedule__h1 {
    grid-column: 2;
    font-size: 4.6em;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0b2349;
    display: table;
    padding: 40px 10px 30px 10px;

    @media screen and (max-width: 768px) {
      font-size: 4em;
    }

    @media screen and (max-width: 375px) {
      font-size: 3.6em;
    }
  }

  .section-schedule__calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 2rem;
  }

  // в 1 строку
  .section-schedule__calendar-timeline {
    display: grid;
    grid-template-rows: repeat(12, 220px);
    color: #ffdc12;
  }

  // в 2,3,4 строки
  .section-schedule__calendar-timeline2,
  .section-schedule__calendar-timeline3,
  .section-schedule__calendar-timeline4 {
    display: none;
  }

  .time {
    font-size: 2em;
    font-weight: bold;
    color: #ffdc12;
  }

  .time-marker {
    font-size: 2em;
  }

  .section-schedule__calendar-days {
    display: grid;
    grid-column: 2;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .events {
    display: grid;
    grid-template-rows: repeat(12, 220px);
    // grid-template-rows: repeat(12, minmax(180px, 1fr));
    border-radius: 5px;
  }

  // Place on Timeline
  .start-1 {
    grid-row-start: 1;
  }

  .end-1 {
    grid-row-end: 2;
  }

  .start-2 {
    grid-row-start: 2;
  }

  .end-2 {
    grid-row-end: 3;
  }

  .start-3 {
    grid-row-start: 3;
  }

  .end-3 {
    grid-row-end: 4;
  }

  .start-4 {
    grid-row-start: 4;
  }

  .end-4 {
    grid-row-end: 5;
  }

  .start-5 {
    grid-row-start: 5;
  }

  .end-5 {
    grid-row-end: 6;
  }

  .start-6 {
    grid-row-start: 6;
  }

  .end-6 {
    grid-row-end: 7;
  }

  .start-7 {
    grid-row-start: 7;
  }

  .end-7 {
    grid-row-end: 8;
  }

  .start-8 {
    grid-row-start: 8;
  }

  .end-8 {
    grid-row-end: 9;
  }

  .start-9 {
    grid-row-start: 9;
  }

  .end-9 {
    grid-row-end: 10;
  }

  .start-10 {
    grid-row-start: 10;
  }

  .end-10 {
    grid-row-end: 11;
  }

  .start-11 {
    grid-row-start: 11;
  }

  .end-11 {
    grid-row-end: 12;
  }

  .start-12 {
    grid-row-start: 12;
  }

  .end-12 {
    grid-row-end: 13;
  }

  .titles {
    font-size: 1.5em;
    line-height: 20px;
    letter-spacing: 0px;
    color: black;
  }

  .event {
    border: 1px solid #ffdc12;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }

  .event__block-voice {
    background: pink;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-voice:hover {
    transform: scale(1.1);
  }

  .event__block-mini {
    background: #f152af;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-mini:hover {
    transform: scale(1.1);
  }

  .event__block-handm {
    background: rgb(233, 233, 138);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-handm:hover {
    transform: scale(1.1);
  }

  .event__block-hip {
    background: #5fd6d2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-hip:hover {
    transform: scale(1.1);
  }

  .event__block-belly {
    background: #6bb6e9;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-belly:hover {
    transform: scale(1.1);
  }

  .event__block-anime {
    background: #be75f2;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-anime:hover {
    transform: scale(1.1);
  }

  .event__block-teatr {
    background: #f077ca;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-teatr:hover {
    transform: scale(1.1);
  }

  .event__block-latina {
    background: #35c695;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-latina:hover {
    transform: scale(1.1);
  }

  .event__block-dance {
    background: #eb7a7a;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-dance:hover {
    transform: scale(1.1);
  }

  .event__block-clasdance {
    background: #73e7e0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-clasdance:hover {
    transform: scale(1.1);
  }

  .event__block-street {
    background: #efef3d;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-street:hover {
    transform: scale(1.1);
  }

  .event__block-yoga {
    background: #4478e8;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-yoga:hover {
    transform: scale(1.1);
  }

  .event__block-mama {
    background: #f06ede;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-mama:hover {
    transform: scale(1.1);
  }

  .event__block-reading {
    background: #94b007;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-reading:hover {
    transform: scale(1.1);
  }

  .event__block-HipHop {
    background: #30f304;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .event__block-reading:hover {
    transform: scale(1.1);
  }

  // Global / Etc
  body {
    font-family: "Poiret One", sans-serif;
  }

  .date {
    display: flex;
    height: 60px;
    gap: 5em;
    margin: 20px;
    align-items: center;
    justify-content: center;
  }

  .date-day {
    display: inline;
    font-size: 2.5em;
    color: #0b2349;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    background-clip: border-box;
    -webkit-background-clip: text;
    display: table;
  }

  // button
  .section-schedule__button {
    display: flex;
    justify-content: center;
  }

  // media
  @media (max-width: 1412px) and (min-width: 790px) {
    .section-schedule__calendar-timeline,
    .section-schedule__calendar-timeline3,
    .section-schedule__calendar-timeline4 {
      display: none;
    }

    .section-schedule__calendar-timeline2 {
      display: grid;
      grid-template-rows: repeat(26, 220px);
      color: #ffdc12;
    }
  }

  @media (max-width: 1570px) {
    .time,
    .title {
      font-size: 1.5em;
    }
  }

  @media (max-width: 794px) and (min-width: 565px) {
    .section-schedule__calendar-timeline,
    .section-schedule__calendar-timeline2,
    .section-schedule__calendar-timeline4 {
      display: none;
    }

    .section-schedule__calendar-timeline3 {
      display: grid;
      grid-template-rows: repeat(39, 220px);
      color: #ffdc12;
    }

    .section-schedule__button-btn {
      font-size: 2em;
    }
  }

  @media (max-width: 566px) {
    .section-schedule__calendar-timeline,
    .section-schedule__calendar-timeline2,
    .section-schedule__calendar-timeline3 {
      display: none;
    }

    .section-schedule__calendar-timeline4 {
      display: grid;
      grid-template-rows: repeat(78, 220px);
      color: #ffdc12;
    }

    .section-schedule__button-btn {
      font-size: 1.5em;
    }
  }

  .section-schedule__watsapp {
    position: fixed;
    right: 20px;
    bottom: 100px;
    cursor: pointer;
    @media screen and (max-width: 375px) {
      right: 10px;
      bottom: 20px;
    }
  }
  [data-title]::after {
    content: attr(data-title);
    position: absolute;
    bottom: 60px;
    left: -100px;
    font-size: 2em;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -1.6px;
    color: $yellow-dark;
    background-color: #380a4de3;
    border: 1px solid $yellow-dark;
    min-block-size: max-content;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    padding: 0.5em;
    @media screen and (max-width: 768px) {
      font-size: 1.8em;
      line-height: 32px;
    }
    @media screen and (max-width: 375px) {
      bottom: 50px;
      left: -30px;
      font-size: 1em;
      line-height: 28px;
      letter-spacing: -1px;
    }
  }
  [data-title]:hover::after {
    opacity: 1;
  }

  .section-schedule__watsapp-img {
    width: 50px;
    height: 50px;
    @media screen and (max-width: 375px) {
      width: 40px;
      height: 40px;
    }
  }

  .section-schedule__scroll-top-btn {
    position: fixed;
    left: 20px;
    bottom: 100px;
    cursor: pointer;

    @media screen and (max-width: 375px) {
      right: 10px;
      bottom: 20px;
    }
  }
}

@media screen {
  .section-schedule {
    max-width: 1580px;
  }
}
