// "  sass --watch assets/sass/teachers.scss assets/styles/style-teachers.css  "
// команда для быстрой вставки в терминал - запускает компиляцию кода SASS в CSS, терминал должен оставаться открытым

.section-teachers{
  @extend %container;
  background-color: $deepPurple;
  

  .section-teachers__title{
    margin-top:32px;
    font-family: "Poiret One", sans-serif;
    color: $yellow;
    display: flex;
    justify-content: center;
    font-size: 4.6em;
    font-weight: 400;
    line-height: 50px;
    background: linear-gradient(45deg, #ffdc12 33%, #ad10d3 66%, #fff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .teachers-title{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 24px;
    margin-bottom: 44px;
  
  }
  .teachers-title__wrapper{
    display: flex;
    flex-direction: column;
  }
  
  .teachers-title__foto{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  
  .teachers-title__name {
    font-family: "Poiret One", sans-serif;
    color: $yellow;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-height: 85px;
  }
  
  .teachers-title__specification-text{
    font-family: "Poiret One", sans-serif;
    color: $yellow;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    text-align: justify;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  @media screen and (max-width: 1116px) {
    .section-teachers__title {
      font-size: 4em;
    } 
  }

  @media screen and (max-width: 375px) {
    .teachers_foto {
    margin-left: 5px;
    margin-right: 10px;
  } 
}

.section-teachers__watsapp {
  position: fixed;
  right: 20px;
  bottom: 100px;
  cursor: pointer;
  @media screen and (max-width: 375px) {
      right:10px;
      bottom:20px;
  }
}
[data-title]::after {
    content: attr(data-title);
    position:absolute;
    bottom:60px;
    left:-100px;
    font-size: 2em;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: -1.6px;
    color: $yellow-dark; 
    background-color: #380a4de3;
    border: 1px solid $yellow-dark;
    min-block-size: max-content;
    opacity:0;
    transition: 0.5s;
    pointer-events: none; 
    padding: 0.5em; 
    @media screen and (max-width: 768px) {
        font-size: 1.8em;
        line-height: 32px;
    }
    @media screen and (max-width: 375px) {
        bottom:50px;
        left:-30px;
        font-size: 1em;
        line-height: 28px;
        letter-spacing: -1px;
    }
}
[data-title]:hover::after {
    opacity: 1; 
}
.section-teachers__watsapp-img {
    width:50px;
    height:50px;
    @media screen and (max-width: 375px) {
        width:40px;
        height:40px;
    }
}

.section-teachers__scroll-top-btn {
  position: fixed;
  left: 20px;
  bottom: 100px;
  cursor: pointer;

  @media screen and (max-width: 375px) {
    right:10px;
    bottom:20px;
  }
}
}
